{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'moodtracker/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <title>Moodtracker</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <li><a href="{% url 'index' %}">HOME</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'rate' %}">RATE</a></li>
            <li><a href="{% url 'results' %}">RESULTS</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
            {% endif %}
        </nav>
        <h1>
            Moodtracker
        </h1>
    </header>
    <section class="content-section">
        {% block content %}{% endblock %}
    </section>
</body>
</html>