{% extends "moodtracker/layout.html" %}

{% block content %}

<h3>Login</h3>

<p>
  Login with your username and password. If you do not have an account yet,
  <a href="{% url 'register' %}">register here</a>.
</p>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
        <p>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username">
        </p>
        <p>
            <label for="password">Password: </label>
            <input id="password" type="text" name="password">
        </p>
    </div>
    <p class="error-message">{% if error_message %}{{ error_message }}{% endif %}</p>
    <p><input type="submit" value="Login" class="form-submit-button"></p>
  </form>

{% endblock %}