{% extends "moodtracker/layout.html" %}

{% block content %}

<h3>Rate your mood</h3>

<p>
  Select a rating below. The happier you are feeling, the more stars
  you should select. You need to select at least one star.
</p>

<form action="{% url 'rate' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="rate">
          <input type="radio" id="star10" name="rating" value="10"/><label for="star10" title="text">10</label>
          <input type="radio" id="star9" name="rating" value="9"/><label for="star9" title="text">9</label>
          <input type="radio" id="star8" name="rating" value="8"/><label for="star8" title="text">8</label>
          <input type="radio" id="star7" name="rating" value="7"/><label for="star7" title="text">7</label>
          <input type="radio" id="star6" name="rating" value="6"/><label for="star6" title="text">6</label>
          <input type="radio" id="star5" name="rating" value="5"/><label for="star5" title="text">5</label>
          <input type="radio" id="star4" name="rating" value="4"/><label for="star4" title="text">4</label>
          <input type="radio" id="star3" name="rating" value="3"/><label for="star3" title="text">3</label>
          <input type="radio" id="star2" name="rating" value="2"/><label for="star2" title="text">2</label>
          <input type="radio" id="star1" name="rating" value="1"/><label for="star1" title="text">1</label>
        </div>
    </fieldset>
    <p class="error-message">{% if error_message %}{{ error_message }}{% endif %}</p>
    <p><input type="submit" value="Rate" class="form-submit-button"></p>
  </form>

{% endblock %}